.btn-reg {
    width:325px;
    position:absolute;
    left:40px;
    bottom:350px;
}

.btn-sign{
    width:325px;
    position:absolute;
    bottom:225px;
    left:40px;
}

h5{
    font-weight:bold;
}

.text-login{
    position:absolute;
    bottom:270px;
    left:135px;
    
}

.line-login-one{
    position:absolute;
    bottom:315px;
    left:45px;
    color:gray;
}
.or-login{
    position:absolute;
    bottom:310px;
    left:200px;
    color:gray;

}
.line-login-two{
    position:absolute;
    bottom:315px;
    left:230px;
    color:gray;
}