<div class="login-title">
  
  <div class="img-login"> 
    <center><img src="../assets/img/Logotrans.png"></center>
  </div>
  <div class="img-title"> 
    <center><img src="../assets/img/titletrans.png"></center>
  </div>  
</div>

<ion-content class="auth-form">
  
  <ion-grid>
    <ion-row >
      <ion-col align-self-center>
       
          <center><ion-button shape="round" class="btn-regis" [routerLink]="['/registration']" expand="block" color="primary">Sign Up</ion-button></center>
      
          <center>  <span class="divider line one-line">or</span></center>

            <span class="already">Already a user?</span>

          <center> <ion-button shape="round" class="btn-sigin" [routerLink]="['/login']" expand="block" color="danger">Log In</ion-button></center>

      
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
