<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    <ion-title>Create Room</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="full-component">
  <div class="create-room-title"></div>
  <ion-item lines="none">
    <ion-title >Create Room</ion-title>
  </ion-item>
  <form>
    <ion-list>

      <ion-item >
        <ion-label>User Your Personal ID</ion-label>
        <ion-toggle [(ngModel)]="togglePersonalId" [ngModelOptions]="{standalone: true}"  color="danger"></ion-toggle>
       </ion-item>
  

      <ion-item >
        <ion-label>Turn On Video</ion-label>
        <ion-toggle [(ngModel)]="toggleVideo"  [ngModelOptions]="{standalone: true}" color="danger"></ion-toggle>
       </ion-item>
  
     
       <br>
       <ion-button type="submit" color="tertiary" expand="block" (click)="createRoom()">Start Meeting</ion-button>
       <br>
   </ion-list>
  </form>
  </div>
</ion-content>
 
