<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-text>Reset Your Password</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="full-component">
  <div class="forget-password-title">
    <ion-list>
    <ion-item lines="none">
    <ion-title >Reset Password Here</ion-title>
    </ion-item>
    </ion-list>
  </div>
  <form>
    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required #email></ion-input>
      </ion-item>

          <br>
          <ion-button type="submit" color="danger" expand="block" (click)="passwordReset(email)">Send</ion-button>
     
      <br> 
      <small>
        Please provide the email address that you used when you signed up.
      </small>
    </ion-list>
  </form>
</div>
</ion-content>
