<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-text>Log In</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="full-component">

  <div class="sigin-title">
    <ion-list>
    <ion-item lines="none">
    <ion-title >Enter Credentials Here</ion-title>
    </ion-item>
    </ion-list>
  </div>

  <form>
   <ion-list>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required #email></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required #pass></ion-input>
    </ion-item>

        <br>
        <ion-button type="submit" (click)="logIn(email, pass)" color="danger" expand="block" >Log In</ion-button>
        <br>
        <a [routerLink]="['/forgotpassword-page']" class="small-text">Forgot Password?</a>
  </ion-list>
     
  </form>
</div>
</ion-content>