<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Dashboard</ion-title>
    <ion-title (click)="Signout()" slot="end" color="primary">Sign Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-dashboard-cards></app-dashboard-cards>
</ion-content>





  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/create-room']">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Create Room</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/join-room']">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Join Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>




